#images{
  width: 1000px;
}

.thumb{
  float: left;
  margin-left: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popup-photo {
  padding: 10px
}

#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
  }

  #boxes .window {
    position:absolute;
    left:0;
    top:0;
    width:650px; 
    height:650px;          
    display:none;
    z-index:9999;
    padding:20px;
  }

  #boxes #dialog {
    position:fixed;
    width:600px; 
    height:600px;          
    padding:10px;
    background-color:#ffffff;
  }